/* --- Global Styles --- */
* {
   font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
   font-size: 13px;
   min-height: 0;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   transition: color, min-width, min-height, max-width, max-height;
   transition-duration:200ms; 
   padding:0;
   margin:0;
   color: rgb(180,180,180);
   font-weight: 600;
}

#window {
   padding:0;
   margin:0;
}

#window widget box .image {
   min-width:1000px;
}

/* --- Waybar Container --- */
#waybar {
   background: black;
   color: #c6d0f5;
   margin: 0px;
   font-weight: 500;
   padding: 1px 6px;
}

#workspaces {
   padding:0;
   margin:0;
}

.modules-left,
.modules-center,
.modules-right 
{
}

.module {
   background-color: rgb(12, 12, 12);
   border: 1px solid orange;
   border-radius: 6px;
   padding: 0px 10px;
   
}


#hardware {
   border-radius: 6px;
}


#custom-powerprofile.power-saver { color:lightgreen; }
#custom-powerprofile.balanced { color:blue; }
#custom-powerprofile.performance{ color:red; }

#battery { color:lime; }
#battery.ok { color:lightgreen; }
#battery.warning { color:orange; }
#battery.critical { color:red; }

#clock { color:red; }
