/* --- Global Styles --- */
* {
   font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
   font-size: 13px;
   min-height: 0;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   transition: color, min-width, min-height, max-width, max-height;
   transition-duration:200ms; 
   color: rgb(180,180,180);
   font-weight: 600;
   padding:0;
   margin:0;
   border:none;
   box-shadow:none;
}

/* --- Waybar Container --- */
#waybar {
   background: black;
   color: #c6d0f5;
   font-weight: 500;
}

#waybar > box {
   padding: 2px;
}

tooltip {

}

tooltip label {

}


#workspaces button  {
   margin:0px 2px;
   padding:1px 3px;
   border-radius:6px;
   border:none;
}

#workspaces button:hover {
   background:coral;
   color:black;
}

#workspaces button.active {
   color:black;
   background:orange;
}

#workspaces button.active label {
   color: #202020;
}

#workspaces .taskbar-window {
   margin: 0 1px;
}

.modules-right box.module {
   background-color: rgb(12, 12, 12);
   border-radius: 10px;
   padding: 2px 8px;
}


#pulseaudio:not(.microphone) {
   color:dodgerblue;
}

#pulseaudio:not(.microphone).muted {
   color:firebrick;
}

#pulseaudio.microphone{
   color:dodgerblue;
}

#pulseaudio.microphone.source-muted {
   color:firebrick;
}

#keyboard-state label {
   color:firebrick;
}
#keyboard-state label.locked {
   color:darkgreen;
}
#keyboard-state label:first-child {
   margin:0;
   margin-right:4px;
}

#network.linked,
#network.ethernet,
#network.wifi {
   color:lightgreen;
}

#bluetooth {
   color:rgb(180,180,180); /* match waybar text color*/
}
#bluetooth.on {
   color:#00AFFF;
}

#bluetooth.connected {
   color:#32CD32;
}

#custom-powerprofile.power-saver { color:lightgreen; }
#custom-powerprofile.balanced { color:dodgerblue; }
#custom-powerprofile.performance{ color:crimson; }

#backlight.b10 { color: #7A451A; }
#backlight.b20 { color: #8F5324; }
#backlight.b30 { color: #A3642E; }
#backlight.b40 { color: #B3783B; }
#backlight.b50 { color: #C58E4A; }
#backlight.b60 { color: #D3A55C; }
#backlight.b70 { color: #E1BD73; }
#backlight.b80 { color: #EDDDA0; }
#backlight.b90 { color: #F9EEC9; }
#backlight.b100 { color: #FFF9E8; }

#battery { color:lightgreen; }
#battery.ok { color:lightgreen; }
#battery.warning { color:orange; }
#battery.critical { color:red; }

#hardware .hardware-child label {
   margin:0 4px;
}

#temperature{
   color:seagreen;
}
#temperature.critical {
   color:red;
}

#cpu {
   color:dodgerblue;
}

#memory {
   color:darkorange;
}
#disk {
   color: slategrey;
}

#clock {}
